
//API_URL = 

# PUSHER CONFIGURATION
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
PUSHER_APP_ID=
PUSHER_SECRET=
NEXT_PUBLIC_LIVE_MODE_ENABLED=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=


APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyXve9GDlojfrVrd2X8cGHfOFvZsWDVrP_FURDLiEJGAsybISixD3gVIJ10smPXfkFPFQ/exec
APPS_SCRIPT_API_KEY=dntrng_apikey_123